@import extend-normalize
@import header-movie
@import mouse-anime
@import button
@import extend-bts

header 
  width: 100vw
  height: 100vh
  // 画像が荒い場合, シマシマを敷く。
  // .overlay-yokojima
  //   @include overlay-yokojima
  .wrap
    // position: relative
    #bg-video
      @include bg-video
    // Content
    .contents-on-video
      @include contents-on-video
      @include mouse-anime-4(12px, 4px, 43px, 2px)
      // padding: 2rem 1rem
      a.mouse-scroll
        position: absolute
        bottom: 18px
        height: 60px

main
  .container
    .row
      .col-md-12
        .card-left
          display: flex
          justify-content: center
          align-items: center
          svg
            width: 250px
            height: 250px
        .card-right
          .button-group
          .btn-field
            a.button
              @include button


section
  width: 100vw
  height: 100vh
  text-align: center
  vertical-align: center
  // background: #cac

footer
  padding-top: 3rem
  padding-bottom: 3rem
  background: url("../assets/img/footer-bg.png")
  background-size: cover
  .container
    p
      margin-bottom: .25rem
    .footer-log-img
      width: 190px
    .footer-content
      padding: .1rem 1rem
  .bk-top
    margin: auto 1.5rem

