@import extend-normalize
@import header-movie

header 
  width: 100vw
  height: 100vh
  // background: #ccc
  #bg-video
    @include bg-video

section
  width: 100vw
  height: 100vh
  background: #cac
