@mixin details-info {
  .details-info {
    padding: 10px 35px;
    .header {
    }
    .body {
      font-size: 13px;
      .details {
        margin-bottom: 20px;
        .terms {
          margin-bottom: 3px;
        }
        .text {
          font-weight: bold;
        }
      }
    }
  }
}
