<div class="v-height is-flex has-background-primary">
  <!-- Left -->
  <div class="main-image content-center has-background-success">
    <h2 class="">
    left. is-2
    </h2>
  </div>
  <!-- Right -->
  <div class="news-area has-background-primary-light">
    <div class="news-header"><h2>
      MAIN NEWS area.
    </h2></div>
    <div class="news-post">
      <div class="news-text">
        ダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
      <div class="news-body">
        <div class="news-category">カテゴリ</div>
        <div class="news-date">2020.00.00</div>
      </div>
    </div>
    <div class="news-post">
      <div class="news-text">
        ダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
      <div class="news-body">
        <div class="news-category">カテゴリ</div>
        <div class="news-date">2020.00.00</div>
      </div>
    </div>
    <div class="news-post">
      <div class="news-text">
        ダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
      <div class="news-body">
        <div class="news-category">カテゴリ</div>
        <div class="news-date">2020.00.00</div>
      </div>
    </div>
    <div class="news-footer"></div>
  </div>
</div>
