<div class="layout-right__main v-height is-flex">
  <!-- Left -->
  <div class="main-box  main content-center">
    <img src="/assets/img/kv-movie-dummy.png" alt="" srcset="">
    <img src="/assets/img/game.png" alt="" srcset="">
    <div class="parent">
      <img src="/assets/img/bt-delivery.png" alt="" srcset="">
      <img src="/assets/img/bt-buy.png" alt="" srcset="">
      <img src="/assets/img/bt-opening.png" alt="" srcset="">
      <img src="/assets/img/kv-hentai.png" alt="" srcset="">
    </div>
  </div>
  <!-- Right -->
  <div class="news-area">
    <div class="news-header">
      <h2>NEWS</h2>
    </div>
    <div class="news-post">
      <div class="news-text">
        ダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
      <div class="news-body">
        <div class="news-category">カテゴリ</div>
        <div class="news-date">2020.00.00</div>
      </div>
    </div>
    <div class="news-post">
      <div class="news-text">
        ダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
      <div class="news-body">
        <div class="news-category">カテゴリ</div>
        <div class="news-date">2020.00.00</div>
      </div>
    </div>
    <div class="news-post">
      <div class="news-text">
        ダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
      <div class="news-body">
        <div class="news-category">カテゴリ</div>
        <div class="news-date">2020.00.00</div>
      </div>
    </div>
    <div class="news-footer"></div>
  </div>
</div>
